<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Angular Google Maps (AGM) Demo</h1>
<p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>
<div class="container">
  <div class="row">
    <div class="search-company">
      <input class="form-control" type="text" name="search" size="50" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Company type">     
    </div>
    <table class="table table-striped">
      <thead>
      <tr>        
        <th>Company type</th>        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies | filter:searchText">
        <td>{{company.name}}</td>        
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">  
  <h2>Google Places Autocomplete</h2>
<input ngx-google-places-autocomplete [options]='myOptions' #palceRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
{{ formattedaddress }}
</div>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  <agm-circle 
      *ngFor="let c of circles; let i = index"      
      [latitude]="c.lat"
      [longitude]="c.lng"    
      [radius]="c.radius"
      [circleDraggable]="c.draggable"
      [fillColor]="c.fillColor"
      (dragEnd)="circleDragEnd(c, $event)">     
  </agm-circle>

  <agm-circle [latitude]="lat" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>